{% extends "admin/base.html" %}{% load static %}
{% block title %}{{ title }} | NCCT Administration{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'css/admin.css' %}">{% endblock %}
{% block extrahead %}{{ block.super }}<script src="{% static 'js/admin.js' %}" defer></script>{% endblock %}
{% block branding %}<div id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static 'images/NCCTDXB.webp' %}" width="22" height="32" alt=""> NCCT <span>Content & enquiries</span></a></div>{% endblock %}
