{% extends 'base.html' %}
{% load structured_data %}
{% block head %}{% json_ld schema %}{% endblock %}
{% block body %}
{% include 'partials/navbar.html' %}
<main id="main">
  {% include 'sections/hero.html' %}
  {% if content.show_projects %}{% include 'sections/projects.html' %}{% endif %}
  {% include 'sections/introduction.html' %}
  {% if content.show_solutions %}{% include 'sections/solutions.html' %}{% endif %}
  {% if content.show_capabilities %}{% include 'sections/capabilities.html' %}{% endif %}
  {% if content.show_products %}{% include 'sections/products.html' %}{% endif %}
  {% include 'sections/contact.html' %}
</main>
{% include 'partials/footer.html' %}
{% include 'partials/enquiry_modal.html' %}

{% endblock %}
